<?php 
error_reporting(0);
ini_set('display_errors', 0);
//error_reporting(E_ALL);
if(isset($_GET['amount'])){
	$amount = $_GET['amount'];
	$phone1 = $_GET['phone1'];
	$phone2 = $_GET['phone2'];
	$house_number = $_GET['house_number'];
	
// API
	$ch = curl_init(); 
	curl_setopt($ch, CURLOPT_URL, "http://lightapi.torque.co.rw:8080/requestpayment/"); 
	
	curl_setopt($ch, CURLOPT_URL, "5"); 
	//if (curl_exec($ch) === FALSE) {
   //die("Curl Failed: " . curl_error($ch));
   $post = [
	
		'policyNumber' 	=> 	'Test',
		'phone'			=>	$phone1,
		'phone2'		=>	$phone2,
		'amount'		=>	$amount,
		'fname'			=>	'',
		'lname'			=>	'',
		'nationalId'	=>	'',
		'agentName'		=>	'GERAYO',
		'agentId'		=>	'0782384772',
		//'information'	=>	"Waiting for status...",
		//'information2'	=>	"Waiting for status...",
	];
		
	// receive server response ...
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
	curl_setopt($ch, CURLOPT_POSTFIELDS, $post);
	echo $server_output = curl_exec($ch); 


//} else {
//   return curl_exec($ch);
//}
	// close curl resource to free up system resources 
	curl_close($ch);
	// PUT THE RESPONSE IN SESSION SO THAT I CAN CALL IT'S STATUS
	session_start();
	echo $_SESSION["server_output"] = $server_output;
	// FROM JSON TO PHP
	 //echo $server_output;
	$firstcheck = json_decode($server_output);
	$status = $firstcheck->{'information'};
	// 1ST STATUS CONNECTED TO THE API WAITNING FOR MTN RESPONSE
	echo'<div id="returning">';
			echo $status;
	echo'</div>';
	//FIRE THE RECURRING CALL AFTER 5 SEC TO CHECK THE STATUS
	echo '<script>
				interval = setInterval(function() { checking();}, 10000);
				interval;
				stopcall = setInterval(
					function() { 
						stopit();
					}, 50000);
				stopcall;
			</script>';
	?>
	<?php 
}
?>
<!--AJAX CALL THE STATUS-->

<?php
if(isset($_GET['check'])){
	session_start();
	$server_output = $_SESSION["server_output"];
    $cm = curl_init(); 
	curl_setopt($cm, CURLOPT_URL, "http://lightapi.torque.co.rw:8080/requestpayment/"); 
	$sendJson = json_decode($server_output);
	curl_setopt($cm, CURLOPT_RETURNTRANSFER, true);
	curl_setopt($cm, CURLOPT_POSTFIELDS, $sendJson);
	$server_results = curl_exec($cm);
		// CHANGE THE INFORMATION TO RESEND
	$_SESSION["server_output"] = $server_results;
	
	$obj = json_decode($server_results);
	$status2 = $obj->{'information'};
	$info2 = $obj->{'information2'};
	
	if($status2 == 'REQUESTED')
	{
		echo'<div id="status">Please approve a request on your Phone</br>
		<button class="sub_button" onclick="stopit()">ABORT</button></div>';
	}
	elseif($status2 == 'DECLINED'){
		echo'<script>clearInterval(interval);</script>
		Sorry you just canceled, but its okay you can try again.';
	}elseif($status2 == 'APPROVED')
	{
		if(!$info2 == 'COMPLETE')
		{
			echo'<script>clearInterval(interval);</script>Thanks for the transfer. Now '.$info2.'';
		}
		elseif($info2 == 'COMPLETE'){
			echo'<script>clearInterval(interval);</script> Thanks The money has been deposited. Status:'.$info2.'';
		}elseif($info2 == 'Error sending money.'){
			echo'<script>clearInterval(interval);</script>'.$info2;
		}else{
			echo '<script>clearInterval(interval);</script>'.$info2;
		}
	}
	else{
		echo 'Something is not right.'.$info2.' '.$status2.'<br/><button class="sub_button" onclick="stopit()">ABORT</button>';
	}
}
?>