var product_list = "";

function load_voucher() {

    var url = window.location.href.split("/");
    var data_counter = 0;
    $("#server_response").empty();
    $("#server_response").html("Wait while loading ...")
    $.ajax({
        url : "/api/v1/get_seller_voucher_ajax",
        type : "GET",
        cache : false,
        data : {

            seller : url[url.length - 1].replace("#", "")

        },
        success : function (html, textStatus){

            var display = "";
            $.each(html, function (k, v) {

                data_counter ++;
                display += "<div class='col-lg-4' style='margin-bottom: 10px; margin-right: 15px; border-radius: 3px; background-color: #fff; border: 1px solid #edf2f3; -webkit-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75); box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75);'>"
                        + "<div style='text-align: center; font-size: 16px'><b>Voucher</b><hr/></div>"
                        + "<p style='color: rgba(240, 141, 3, 1)'><i><b>" + this.voucher_name + "</b><i></p>"
                        + "<p><b>Description : </b>" + this.voucher_description + "</p>"
                        + "<p><b>Price : </b>" + this.voucher_price + " " + this.currency + "</p>"
                        + "<p><a href = 'api/v1/order_voucher?id="+this.id+"' class='btn btn-primary'>Buy</a></p>"
                        + "</div>";
            })

            if(parseInt(data_counter) > 0){

                $("#server_response").html(display);

            }else{
                $("#server_response").html("No voucher available");
            }
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function load_image(){

    var url = window.location.href.split("/");
    
    $("#server_response").empty();
    $("#server_response").html("Wait while loading ...")
    $.ajax({
        url : "/api/v1/get_seller_book_ajax",
        type : "GET",
        cache : false,
        data : {
            seller : url[url.length - 1].replace("#", "")

        },
        success : function (html, textStatus){

            var display = "";
            var data_counter = 0;
            $.each(html, function (k, v) {
                if(this.product_category.name === "Photo") {
                    data_counter ++;
                    display += "<form action = 'api\ClaimsController@storeBook' method = 'POST'> <div class='col-lg-4' style='margin-bottom: 10px; margin-right: 15px; border-radius: 3px; background-color: #fff; border: 1px solid #edf2f3; -webkit-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75);box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75);'>" +
                        "<div class='col-lg-12' style = 'margin-bottom: 20px; border: 1px solid #ebf0f1; margin-top: 10px; padding: 10px'>" +
                        "<img src='" + this.image + "' style = 'height: 220px; width: 100%' class='img-responsive'>" +
                        "</div>" +
                        "<div style = 'border-top: 10px; font-size: 13px;' class = 'col-lg-12'>" +
                        "<p class='book-title'>" + this.name + "</p><input type = 'hidden' name = 'product-id' value = '" + this.id + "'>" +
                        "<p class='book-author'>" + this.seller.first_name + " " + this.seller.last_name + "</p>" +
                        "<input type = 'hidden' value = '" + this.seller.id + "' name = 'seller_id'>" +
                        "<input type = 'hidden' value = '" + this.name + "' name = 'name'>" +
                        "<input type = 'hidden' value = '" + this.unit_price + "' name = 'amount'>" +
                        "<input type = 'hidden' value = '" + this.currency + "' name = 'currency'>" +
                        "<input type = 'hidden' value = '" + this.id + "' name = 'product_id'>" +
                        "<input type = 'hidden' value = '1' name = 'product_type_id'>" +
                        "<input type = 'hidden' value = '1' name = 'buyer_id'>" +
                        "</p>" +
                        "<p class='book-category'>" +
                        "<a href = 'api/v1/book_details/" + this.id + "' class = 'btn'>More info</a>" +
                        "</p>" +
                        "</div><br/><br/>" +
                        "<div class='cart'>" +
                        "</div>" +
                        "</div></form>";

                }
            })
            if(parseInt(data_counter) > 0){

                $("#server_response").html(display);

            }else{
                $("#server_response").html("No image files available");
            }


        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });


}

function load_books(){

    var url = window.location.href.split("/");
    $("#server_response").empty();
    $("#server_response").html("Wait while loading ...")
    $.ajax({
        url : "/api/v1/get_seller_book_ajax",
        type : "GET",
        cache : false,
        data : {
            seller : url[url.length - 1].replace("#", "")

        },
        success : function (html, textStatus){

            var display = "";
            var data_counter = 0;
            $.each(html, function (k, v) {
                if(this.product_category.name === "Book") {
                    data_counter ++;
                    display += "<form action = 'api\ClaimsController@storeBook' method = 'POST'> <div class='col-lg-4' style='margin-bottom: 10px; margin-right: 15px; border-radius: 3px; background-color: #fff; border: 1px solid #edf2f3; -webkit-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75);box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75);'>" +
                    "<div class='col-lg-12' style = 'margin-bottom: 20px; border: 1px solid #ebf0f1; margin-top: 10px; padding: 10px'>" +
                    "<img src='" + this.image + "' style = 'height: 200px; width: 100%' class='img-responsive'>" +
                    "</div>" +
                    "<div style = 'border-top: 10px; font-size: 13px;' class = 'col-lg-12'>" +
                    "<p class='book-title'>" + this.name + "</p><input type = 'hidden' name = 'product-id' value = '" + this.id + "'>" +
                    "<p class='book-author'>" + this.seller.first_name + " " + this.seller.last_name + "</p>" +
                    "<input type = 'hidden' value = '" + this.seller.id + "' name = 'seller_id'>" +
                    "<input type = 'hidden' value = '" + this.name + "' name = 'name'>" +
                    "<input type = 'hidden' value = '" + this.unit_price + "' name = 'amount'>" +
                    "<input type = 'hidden' value = '" + this.currency + "' name = 'currency'>" +
                    "<input type = 'hidden' value = '" + this.id + "' name = 'product_id'>" +
                    "<input type = 'hidden' value = '1' name = 'product_type_id'>" +
                    "<input type = 'hidden' value = '1' name = 'buyer_id'>" +
                    "</p>" +
                    "<p class='book-category'>" +
                    "<a href = 'api/v1/book_details/" + this.id + "' class = 'btn'>More info</a>" +
                    "</p>" +
                    "</div><br/><br/>" +
                    "<div class='cart'>" +
                    "</div>" +
                    "</div></form>";

                }
            })
            if(parseInt(data_counter) > 0){

                $("#server_response").html(display);

            }else{
                $("#server_response").html("No books files available");
            }


        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function load_ticket() {

    var url = window.location.href.split("/");
    var data_counter = 0;
    $("#server_response").empty();
    $("#server_response").html("Wait while loading ...")
    $.ajax({
        url : "/api/v1/get_seller_event_ajax",
        type : "GET",
        cache : false,
        data : {

            seller : url[url.length - 1].replace("#", "")

        },
        success : function (html, textStatus){
            var display = "";
            $.each(html, function (k, v) {

                    data_counter ++;
                    display += "<div class='col-sm-4' style='margin-bottom: 10px; margin-right: 15px; border-radius: 3px; background-color: #fff; border: 1px solid #edf2f3; -webkit-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75); box-shadow: -1px 0px 5px -3px rgba(0,0,0,0.75);'>"
                        + "<div style='text-align: center; font-size: 16px'><b>Ticket</b><hr/></div>"
                        + "<p style='color: rgba(240, 141, 3, 1)'><b><i>" + this.name + "</i></b></p>"
                        + "<p><b>Desc : </b>" + this.description + "</p>"
                        + "<p><b>Starts : </b>" + this.start_from + "</p>"
                        + "<p><b>Ends : </b>" + this.end_from + "</p>"
                        + "<p><a href = 'api/v1/view_ticket?ticket_id="+this.id+"' class='btn btn-primary'>Buy</a></p>"
                        + "</div>";

            })
            if(parseInt(data_counter) > 0){

                $("#server_response").html(display);

            }else{
                $("#server_response").html("No tickets available");
            }
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function load_audio(){

    var url = window.location.href.split("/");
    var data_counter = 0;
    $("#server_response").empty();
    $("#server_response").html("Wait while loading ...")
    $.ajax({
        url : "/api/v1/get_seller_book_ajax",
        type : "GET",
        cache : false,
        data : {
            seller : url[url.length - 1].replace("#", "")

        },
        success : function (html, textStatus){

            var display = "";
            $("#server_response").html("No audio files available");
            $.each(html, function (k, v) {
                if(this.product_category.name === "Audio") {
                    data_counter ++;
                    display += "<form action = 'api\ClaimsController@storeBook' method = 'POST'> <div class='col-lg-3' style='margin-bottom: 10px; margin-right: 15px; background-color: #fff;padding-left:0px;padding-right:0px;' id='all_in_one'>" +
                        
                        "<img src='" + this.image + "' style = 'height: 200px; width: 100%' class='img-responsive'>" +
                       
                        "<div style = 'border-top: 10px; font-size: 13px;' class = 'col-lg-12'>" +
                        "<p class='book-title'>" + this.name + "</p><input type = 'hidden' name = 'product-id' value = '" + this.id + "'>" +
                        "<p class='book-author'>" + this.seller.first_name + " " + this.seller.last_name + "</p>" +
                        "<input type = 'hidden' value = '" + this.seller.id + "' name = 'seller_id'>" +
                        "<input type = 'hidden' value = '" + this.name + "' name = 'name'>" +
                        "<input type = 'hidden' value = '" + this.unit_price + "' name = 'amount'>" +
                        "<input type = 'hidden' value = '" + this.currency + "' name = 'currency'>" +
                        "<input type = 'hidden' value = '" + this.id + "' name = 'product_id'>" +
                        "<input type = 'hidden' value = '1' name = 'product_type_id'>" +
                        "<input type = 'hidden' value = '1' name = 'buyer_id'>" +
                        "</p>" +
                        "<p class='book-category' style='position: relative;right: 12px;'>" +
                        "<a href = 'api/v1/music_details/" + this.id + "' class = 'btn'>More info</a>" +
                        "</p>" +
                        "</div><br/><br/>" +
                        "<div class='cart'>" +
                        "</div>" +
                        "</div></form>";

                }
            })
            if(parseInt(data_counter) > 0){

                $("#server_response").html(display);

            }else{
                $("#server_response").html("No books files available");
            }
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });
}

function check_user_profile() {

    $.ajax({
        url : "/api/v1/load_single_product_detail",
        type : "POST",
        headers: {
            'Authorization': 'Bearer '+ localStorage.getItem("token"),
            'contentType': 'application/x-www-form-urlencoded'
        },
        cache : false,
        data : {
            product_id : product_id

        },
        success : function (html, textStatus){

            //$("#insert_status").html(html);
            $("#all").html(JSON.stringify(html));
            $.each(html, function (k, v) {
                $("#title").html(this.name);
                $("#author").html("By : " + this.book_author);
                $("#price").html(this.unit_price + " " + this.currency);
            })
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function login(){

    var email = $("#email").val();
    var password = $("#password").val();
    $("#insert_status").html("Wait while connecting ...");

    $.ajax({
        url : "/api/v1/sign-in",
        type : "POST",
        cache : false,
        data : {
            email : email,
            password : password

        },
        success : function (html, textStatus){

            localStorage.setItem("token", html['token']);
            localStorage.setItem("user_id", html['user_id']);
            var person = html['person'];
            if(person){
                window.location = '/api/v1/all_product'
            }else{
                window.location = '/api/v1/new_profile'
            }


        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function register(){

    var email = $("#email").val();
    var password = $("#password").val();
    var name = $("#name").val();

    $("#insert_status").html("Wait while connecting ...");

    $.ajax({
        url : "/api/v1/sign-up",
        type : "POST",
        cache : false,
        data : {
            name : name,
            email : email,
            password : password

        },
        success : function (html, textStatus){

            localStorage.setItem("token", html['token']);
            localStorage.setItem("user_id", html['user_id']);
            window.location = '/api/v1/new_profile';

        },
        error : function(xhr, errorThrown, textStatus){
            var email = "";
            var password = "";
            var name = "";
            var all = 0;
            $.each(xhr, function (k, v) {

                if(k === "responseJSON"){

                    if(v['email']){
                        email = v['email'];
                        all += 1
                    }
                    if(v['name']){
                        name = v['name'];
                        all += 1;
                    }
                    if(v['password']){
                        password = v['password'];
                        all += 1;
                    }

                }
            })
            if(parseInt(all) > 0){

                $("#credential_alert").removeClass('hidden');
                $("#credential_alert").addClass('show');

                $("#server_response").html("<span style = 'color: red'>" + email + "<br/>" + password + "<br/>" + name + "</span>");
            }

            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function save_product() {

    var name = $("#name").val();
    var book_publisher = $("#publisher").val();
    var book_author = $("#author").val();
    var code = $("#code").val();
    var unit_price = $("#unit_price").val();
    var wholesale_price = $("#wholesale_price").val();
    var currency = $("#currency").val();
    var product_category_id = $("#product_category").val();
    var sub_product_category_id = $("#product_sub_category").val();

    $("#insert_status").html("Wait while connecting ...");

    $.ajax({
        url : "/api/v1/product",
        type : "POST",
        cache : false,
        data : {
            name : name,
            book_author : book_author,
            book_publisher : book_publisher,
            code : code,
            unit_price : unit_price,
            wholesale_price : wholesale_price,
            currency : currency,
            product_category_id : product_category_id,
            sub_product_category_id : sub_product_category_id

        },
        success : function (html, textStatus){
            window.location = html;
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function save_new_profile(){

    var first_name = $("#first_name").val();
    var last_name = $("#last_name").val();
    var phone = $("#phone").val();
    var email = $("#email").val();
    var code = $("#code").val();
    var street = $("#street").val();
    var box = $("#box").val();

    $("#insert_status").html("Wait while connecting ...");

    $.ajax({
        url : "/api/v1/person",
        type : "POST",
        cache : false,
        data : {
            first_name : first_name,
            last_name : last_name,
            phone : phone,
            email : email,
            code : code,
            street : street,
            box : box,

        },
        success : function (html, textStatus){

            //$("#insert_status").html(html);
            alert(html)
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function send_claims() {

    $("#insert_status").html("Wait while connecting ...");

    $.ajax({
        url : "/api/v1/claims",
        type : "POST",
        cache : false,
        data : {
            name : "Joseph",
            buyer_id : 1,
            seller_id : 2,
            product_id : 3,
            payment_type_id : 1,
            currency : 'Franc',
            amount : 2000,

        },
        success : function (html, textStatus){

            //$("#insert_status").html(html);
            alert(html)
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function load_product_sub_category() {

    $("#product_sub_category").empty();
    var product_category_id = $("#product_category_id").val();

    $.each(product_list, function(k, v){

        var product_category = "";
        if(parseInt(this.id) === parseInt(product_category_id)){
          localStorage.setItem("product_type", this.name);
            
          if(this.name === "Book"){
            
              $("#author").attr("placeholder", "Author name");
              $("#publisher").attr("placeholder", "Publisher name")
            }
            
          if(this.name === "Audio"){
            
              $("#author").attr("placeholder", "Artist name");
              $("#publisher").attr("placeholder", "Producer name")
            }
        
        }
    })
   
    $.ajax({
        url : "/api/v1/load_product_sub_category_list",
        type : "GET",
        cache : false,
        success : function (html, textStatus){
           
            $.each(html, function (k, v) {
              
                $("#product_sub_category").append("<option value = '"+ this.id +"'>" + this.name + "</option>");
            
                
            
          })

},
    error : function(xhr, errorThrown, textStatus){
        alert(errorThrown + " " + textStatus);
        $("#insert_status").html("Error : " + xhr);
    }

});

}

function load_product_category() {

    $("#product_category").empty();
    $.ajax({
        url : "/api/v1/load_product_category_list",
        type : "GET",
        cache : false,
        success : function (html, textStatus){

            product_list = html;
            $.each(html, function (k, v) {
                $("#product_category_id").append("<option value = '"+ this.id +"'>" + this.name + "</option>");
            })
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function load_single_product_detail() {

    var product_id = window.location.href.split("=")[1];

    $.ajax({
        url : "/api/v1/load_single_product_detail",
        type : "POST",
        cache : false,
        data : {
            product_id : product_id

        },
        success : function (html, textStatus){

            //$("#insert_status").html(html);
            $("#all").html(JSON.stringify(html));
            $.each(html, function (k, v) {
                $("#title").html(this.name);
                $("#author").html("By : " + this.book_author);
                $("#price").html(this.unit_price + " " + this.currency);
            })
        },
        error : function(xhr, errorThrown, textStatus){
            alert(errorThrown + " " + textStatus);
            $("#insert_status").html("Error : " + xhr);
        }

    });

}

function load_product_list() {

    var product_category = window.location.href.split("=")[1];
    var product_id = 0;

    $("#product_detail").html("Wait while loading product details !!!");
    $.ajax({
        url : "/api/v1/load-some-product-category",
        type : "GET",
        cache : false,
        data : {
            product_category: product_category
        },
        success : function (html, textStatus){
            $.each(html, function (k, v) {
                var products = this.product;
                var category = this.name;
                var row = parseInt(products.length / 4);
                var columns = 4;
                var remainder = parseInt(products.length % 4);
                if(row < 0){
                    row = remainder;
                }

                var data_to_display = "<table class='col-lg-12'>";
                var general_counter = 0;
                for(var i = 0; i < row + 1; i ++){

                    product_id = products[i]['id'];
                    data_to_display += '<tr>';
                    var url = products[i]['image'];
                    for(var x = 0; x < columns; x ++){
                        data_to_display += "<td>";
                        general_counter += i + x;
                        data_to_display += '<div class="col-sm-12" style="float: left;">' +
                            '<div class="book-details">' +
                            '<div class="boximg">' +
                            "<a href='single_product?product_id="+ product_id +"'><img src='"+url+"' class='img-responsive'></a> " +
                            '<span class="label label-danger date">2016</span></div>' +
                            '<p class="book-title">' + products[i]['name'] + '</p>' +
                            '<p class="book-author">By <a href="#">' + products[i]['book_author'] + '</a></p>' +
                            '<p class="book-category"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;<a href="#">' + category + '</a></p>' +
                            '<p class="book-price">' + products[i]['unit_price'] + " " + products[i]['currency'] + '</p>' +
                            '</div>' +
                            '<div class="cart">' +
                            '' +
                            '</div>' +
                            '</div>' +

                            "</td>";
                    }
                    data_to_display += "</tr>";
                }
                data_to_display += "</table>";
                //alert(data_to_display)
                $("#product_detail").html(data_to_display)
            })

        },
        error : function(xhr, errorThrown, textStatus){

            alert("Error : " + errorThrown);
        }
    });

}

function load_profile_information(){

    var user_id = localStorage.getItem("user_id");
    $.ajax({
        url : "/api/v1/person/"+user_id,
        type : "GET",
        headers: {
            'Authorization': 'Bearer '+ localStorage.getItem("token"),
            'contentType': 'application/x-www-form-urlencoded'
        },
        processData : false,
        contentType : false,
        cache : false,
        success : function (html, textStatus){
            alert(html);
            var image = html[0]['photo'];
            localStorage.setItem("user_image", image);
            localStorage.setItem("user_name", html[0]['first_name'] + " " + html[0]['last_name']);
            $("#user_image").html("<img src = '"+image+"' class = 'img-circle shadow' style = 'width: 200px; height: 200px; margin-top: 20px; margin-bottom: 20px'>");
            $("#other_details").html("" +
                "<b>Name : </b>" + html[0]['first_name'] + " " + html[0]['last_name'] + "<br/><br/>" +
                "<b>Telephone : </b>" + html[0]['phone'] + "<br/><br/>" + "<b>Email : </b>" + html[0]['email'] + "<br/><br/>" +
                "<b>Address : </b>" + html[0]['street'] + "<br/><br/><b>PO Box : </b>" + html[0]['box'] + "<br/><br/>" +
                "<b>Categories : </b>" + html[0]['actor'][0]['type']['name'] + "" +
                "<br/><br/><a href = 'edit_profile_form'>Edit profile</a>")


        },
        error : function(xhr, errorThrown, textStatus){

            $.each(xhr, function (k, v) {

                if(k === "responseJSON"){

                    if(v['error']){
                        alert(v['error']);
                        window.location = '/api/v1/dashboard';
                    }
                    alert(JSON.stringify(v['error']));
                }
            })
            $("#insert_status").html("Error : " + xhr);
        }

    });
}
// RUN ANYTIME
var username = localStorage.getItem('user_name');
var user_image = localStorage.getItem("user_image");