<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Quart Creative Agency"/>

    <title>Skyline Digital- We Digitize Services</title>

<!-- This site is optimized with the Yoast SEO plugin v4.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Skyline Digital -We are a tech company specialized in web platform development, Mobile Apps Development and  online presence and Our services are on an international standard."/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="index.html" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Skyline Digital- We Digitize Services" />
<meta property="og:description" content="Skyline Digital -We are a tech company specialized in web platform development, Mobile Apps Development and  online presence and Our services are on an international standard." />
<meta property="og:url" content="http://sd.rw/" />
<meta property="og:site_name" content="Skyline Digital" />
<meta property="og:image" content="sd_logo.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Skyline Digital -We are a tech company specialized in web platform development, Mobile Apps Development and  online presence and Our services are on an international standard." />
<meta name="twitter:title" content="Skyline Digital" />
<meta name="twitter:site" content="@SkylineDigital_" />
<meta name="twitter:image" content="sd_logo.jpg" />
<meta name="twitter:creator" content="@SkylineDigital_" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/sd.rw\/","name":"Skyline Digital","potentialAction":{"@type":"SearchAction","target":"http:\/\/sd.rw\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/sd.rw\/","sameAs":["https:\/\/www.facebook.com\/skylinedigital.rw\/","index.html\/\/www.instagram.com\/sdrwanda\/","index.html\/\/www.youtube.com\/channel\/UCqWYt6yDpSql5qq1E2cuTFA","https:\/\/twitter.com\/SkylineDigital_"],"@id":"#organization","name":"Skyline Digital","logo":""}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel='stylesheet' id='main-css'  href='assets/css/main.min66f2.css?ver=4.7.5' type='text/css' media='all' />
<script type='text/javascript' src='js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
<script type='text/javascript' src='js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
<script type='text/javascript' src='assets/js/pace.min66f2.js?ver=4.7.5'></script>
<link rel='https://api.w.org/' href='wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.7.5" />
<link rel='shortlink' href='index.html' />
<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed2aec.json?url=http%3A%2F%2Fdagadam.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed9216?url=http%3A%2F%2Fdagadam.com%2F&amp;format=xml" />
<script type="text/javascript">
(function(url){
	if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){ return; }
	var addEvent = function(evt, handler) {
		if (window.addEventListener) {
			document.addEventListener(evt, handler, false);
		} else if (window.attachEvent) {
			document.attachEvent('on' + evt, handler);
		}
	};
	var removeEvent = function(evt, handler) {
		if (window.removeEventListener) {
			document.removeEventListener(evt, handler, false);
		} else if (window.detachEvent) {
			document.detachEvent('on' + evt, handler);
		}
	};
	var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
	var logHuman = function() {
		var wfscr = document.createElement('script');
		wfscr.type = 'text/javascript';
		wfscr.async = true;
		wfscr.src = url + '&r=' + Math.random();
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);
		for (var i = 0; i < evts.length; i++) {
			removeEvent(evts[i], logHuman);
		}
	};
	for (var i = 0; i < evts.length; i++) {
		addEvent(evts[i], logHuman);
	}
})('index601d.html?wordfence_logHuman=1&amp;hid=DBB0C63F90FEF0A631636C855EE32F72');
</script>
</head>
<body class="home page-template page-template-front-page page-template-front-page-php page page-id-162">
<header>
    <div class="burger-nav"></div>
  
    <nav class="main-menu-container">
        <ul id="menu-left" class="main-menu-left">
        <li id="menu-item-165" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-165"><a href="#about_sd">About SD</a>
        </li>
		<li id="menu-item-164" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-164"><a href="index.html#design">Services</a></li>
<li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-166"><a href="index.html#os">Products</a>
</li>
</ul>        
<ul id="menu-right" class="main-menu-right">
<li id="menu-item-167" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-167"><a href="index.html#technical2">Clients</a>
</li>
<li id="menu-item-168" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-168"><a href="index.html#founders">Team</a>
</li>
<li id="menu-item-169" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-169"><a href="index.html#subscribe">Contact Us</a>
</li>
</ul>
    </nav>
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="fixed-social-links">
        <a class="facebook" href="https://www.facebook.com/skylinedigital.rw/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20.091" height="17.545" viewBox="0 0 20.091 17.545"><path  d="M7.988 16.2h3.086V8.772h2.29l.28-2.97h-2.45V4.61c0-.578.4-.713.68-.713h1.732V1.353l-2.384-.01c-2.646 0-3.247 1.9-3.247 3.115V5.8h-1.53v2.97h1.543V16.2z"/></svg></a>
        <a class="instagram" href="https://www.instagram.com/sdrwanda/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20.091" height="17.545" viewBox="0 0 20.091 17.545"><path  d="M14.778 1.345H5.313c-1.644 0-2.98 1.287-2.98 2.87v9.114c0 1.583 1.336 2.87 2.98 2.87h9.465c1.644 0 2.982-1.286 2.982-2.87V4.215c0-1.583-1.338-2.87-2.982-2.87zm.855 1.712l.34-.002v2.518l-2.605.01-.01-2.518 2.275-.008zm-7.79 4.19c.495-.658 1.297-1.09 2.203-1.09s1.708.432 2.202 1.09c.32.43.514.957.514 1.525 0 1.44-1.22 2.614-2.716 2.614-1.498 0-2.716-1.173-2.716-2.614 0-.568.192-1.094.514-1.524zm8.414 6.083c0 .785-.664 1.424-1.48 1.424H5.312c-.816 0-1.48-.638-1.48-1.424V7.248h2.304c-.2.47-.31.986-.31 1.524 0 2.24 1.892 4.062 4.22 4.062 2.325 0 4.218-1.822 4.218-4.062 0-.54-.112-1.053-.31-1.524h2.303v6.082z"/></svg></a>
        <a class="twitter" href="https://twitter.com/SkylineDigital_" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20.091" height="17.545" viewBox="0 0 449.956 449.956"><path d="M449.956 85.657c-17.702 7.614-35.408 12.37-53.102 14.28 19.985-11.992 33.503-28.932 40.546-50.82-18.28 10.847-37.787 18.268-58.532 22.267-18.274-19.414-40.73-29.125-67.383-29.125-25.502 0-47.246 8.99-65.24 26.98-17.984 17.986-26.977 39.73-26.977 65.234 0 6.85.76 13.896 2.284 21.128-37.688-1.903-73.042-11.372-106.068-28.407C82.46 110.158 54.434 87.46 31.404 59.1c-8.376 14.273-12.565 29.788-12.565 46.537 0 15.798 3.71 30.456 11.137 43.97 7.422 13.512 17.417 24.455 29.98 32.83-14.85-.57-28.743-4.474-41.684-11.707v1.142c0 22.27 6.995 41.824 20.983 58.674C53.246 247.394 70.9 258 92.216 262.38c-7.994 2.09-16.085 3.137-24.268 3.137-5.33 0-11.136-.475-17.416-1.42 5.9 18.46 16.75 33.633 32.546 45.535 15.8 11.896 33.69 18.028 53.677 18.418-33.498 26.262-71.66 39.393-114.486 39.393-8.187 0-15.608-.373-22.27-1.14C42.825 393.9 90.03 407.7 141.61 407.7c32.74 0 63.48-5.18 92.21-15.557 28.747-10.368 53.298-24.266 73.666-41.685 20.362-17.415 37.925-37.448 52.674-60.097 14.75-22.65 25.738-46.298 32.977-70.946 7.23-24.653 10.848-49.344 10.848-74.092 0-5.33-.096-9.325-.287-11.99 18.087-13.128 33.504-29.024 46.258-47.673z"/></svg></a>
        
        <a class="youtube" href="https://www.youtube.com/channel/UC9y8ihYbh0jNNXO896LSNpA" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20.091" height="17.545" viewBox="0 0 20.091 17.545"><path  d="M18.732 4.844c-.345-1.33-.837-1.84-2.027-2.024-.686-.098-3.9-.223-6.512-.223-2.614 0-5.865.125-6.552.223-1.19.184-1.905.695-2.25 2.024-.115.446-.345 2.892-.345 3.827v.206c0 .933.248 3.38.364 3.827.344 1.328 1.035 1.84 2.225 2.025.685.096 4 .222 6.612.222 2.614 0 5.915-.125 6.6-.222 1.19-.185 1.534-.697 1.877-2.025.117-.448.32-2.894.32-3.827V8.67c0-.934-.197-3.38-.312-3.826zm-10.9 7.084V5.562l6.18 3.107-6.18 3.258z"/></svg></a>
    </div>



</header>
<div class="main-content">
		<div id="home">
			<div class="video-container-modal">
				<a href="#" class="video-modal-close"></a>
			</div>
			<div class="static-elements">
				<div class="left-center-bottom">We Digitize Services »</div>
				<div class="center-bottom">
					<a href="#about">
						<svg xmlns="http://www.w3.org/2000/svg" width="11.541" height="29.239"
						     viewBox="0 0 11.541 29.239">
							<path id="arrow-down" fill="#C2986B"
							      d="M5.77 28.084l-4.714-8.08h9.426l-4.713 8.08zm0 1.155c.115-.005.275-.063.336-.182l5.386-9.233c.148-.238-.06-.597-.337-.59h-5V.386C6.154.172 5.98 0 5.768 0c-.213 0-.385.172-.385.385v18.85H.383c-.276-.007-.48.35-.337.59l5.386 9.233c.09.114.183.18.337.18z"/>
						</svg>
					</a>
				</div>
			<!--  this image on slide is commented coz i am not using it yet -->
				<!-- <div class="watch ">
					<img class="animated fadeInDown" src="assets/images/ceas-homepage.png"  alt="Skyline Digital">
				</div> -->
			</div>

			<div class="slider-home">
				
				<div class="slide" data-youtube="201644852" style=" background-image: url('wp-content/uploads/2017/02/bg-home.png');background-position: center center;background-size: cover;background-repeat: no-repeat;"><div class="video"><iframe id="slider-video" src="https://player.vimeo.com/video/201644852?background=1&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0"></iframe></div><div class="slide-info">
	               <span class="title">WE LOVE WRITING CODES</span>
	               <p class="content">
WE CREATIVE GEEKS
</p><a data-video="201644852" href="#" class="video-link"><svg xmlns="http://www.w3.org/2000/svg" width="41.977" height="41.977" viewBox="0 0 41.977 41.977"><path d="M18.316 15.56l8.526 5.43-8.526 5.41V15.56zm-1.066-3.05c-.544.03-.968.534-.95 1.132v14.692c-.023.877.846 1.43 1.524.968l11.544-7.346c.694-.418.694-1.517 0-1.935l-11.544-7.345c-.173-.118-.372-.175-.574-.164zM20.99 2.1c10.444 0 18.89 8.443 18.89 18.89s-8.445 18.89-18.89 18.89S2.1 31.434 2.1 20.99 10.542 2.1 20.99 2.1zm0-2.1C9.41 0 0 9.41 0 20.99s9.41 20.988 20.99 20.988 20.988-9.41 20.988-20.99S32.568 0 20.988 0z"/></svg></a>
	          </div></div>
			</div>
		</div>
		<div class="page-section" id="#about_sd">
			<div class="static-elements">
				<div class="right-center">Skyline Digital- We Digitize Services</div>
				<div class="compatibility">
					<span></span>
					<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.7 29.8"><style>.st0{fill:#707480;}</style><path class="st0" d="M15.6 4.5c1-1.2 1.6-2.8 1.5-4.5-1.4.1-3.1.9-4.1 2.1-.9 1-1.7 2.7-1.5 4.3 1.5.2 3.1-.7 4.1-1.9zM57.9 10.1c-1 0-1.8.8-1.8 1.8v7.5c0 1 .8 1.8 1.8 1.8s1.8-.8 1.8-1.8v-7.5c0-1-.8-1.8-1.8-1.8zM19.1 14.9c0-3.5 2.9-5.3 3-5.3-1.6-2.4-4.2-2.7-5.1-2.8-2.2-.2-4.3 1.3-5.4 1.3-1.1 0-2.8-1.3-4.6-1.2-2.4 0-4.6 1.4-5.8 3.5C-1.3 14.7.5 21 3 24.5c1.2 1.7 2.6 3.6 4.4 3.6C9.2 28 9.8 27 12 27c2.1 0 2.8 1.1 4.6 1.1 1.9 0 3.1-1.7 4.3-3.4 1.4-2 1.9-3.9 1.9-4 0-.1-3.7-1.6-3.7-5.8zM36.9 10.1c-1 0-1.8.8-1.8 1.8v7.5c0 1 .8 1.8 1.8 1.8s1.8-.8 1.8-1.8v-7.5c.1-1-.7-1.8-1.8-1.8zM39.3 22.1c0 1.1.9 2 2 2h1.1v4c0 1 .8 1.8 1.8 1.8s1.8-.8 1.8-1.8v-4h2.8v4c0 1 .8 1.8 1.8 1.8s1.8-.8 1.8-1.8v-4h1c1.1 0 2-.9 2-2V10.4H39.3v11.7zM51.2 3.2L52.4 1c.1-.1 0-.3-.1-.3-.1-.1-.3 0-.3.1L50.8 3c-1-.4-2.2-.7-3.4-.7-1.2 0-2.3.2-3.3.6L42.9.7c-.1-.1-.2-.2-.3-.1-.1.1-.2.2-.1.3l1.2 2.2c-2.6 1.2-4.3 3.7-4.3 6.6h16.2c-.1-2.8-1.8-5.3-4.4-6.5zm-7.5 3.7c-.4 0-.7-.3-.7-.7s.3-.7.7-.7.7.3.7.7-.3.7-.7.7zm7.4 0c-.4 0-.7-.3-.7-.7s.3-.7.7-.7.7.3.7.7-.3.7-.7.7z"/></svg>				</div>
			</div>

				<div class="content-wrapper">
				<div class="section-content">
				<div class="section-image"></div>
				<div class="section-info">
					<p class="section-title">About SD</p>
					<div class="content">
						<p class="title">WELCOME @Skyline Digital</p>
						<p>Skyline Digital -We are a tech company specialized in web platform development, Mobile Apps Development and  online presence and Our services are on an international standard.</p>
						<p>@Skyline Digital we treat clients as Kings and Queens. We give services on an international standard for a very affordable prices. Our clients can testify for that. Wanna know more about our services, check us out in the contact page below. Cheers! <img src="assets/images/go_down.png" style="width: 70px;"></p>
					</div>
					<span class="line">Skyline Digital- We Digitize Services</span>
				</div>
				</div>
			</div>
		</div>

		<div class="page-section" id="design" style="background-image: url('wp-content/uploads/2017/02/elementebackground.png');background-repeat: no-repeat;background-position: center right;background-size: contain">
				<div class="static-elements">
					<div class="left-top">Dagadam - Think Beyond</div>
					<div class="right-center">DAGADAM - THINK BEYOND</div>
				</div>
				<div class="content-wrapper">
				<div class="section-content">
					<div class="section-info">
						<p class="section-title">Atractive design</p>
						<div class="content">
							<div class="design-slider">
								
<div class="slide">
				<p class="title ">Shaped to be a part of you</p>
				<p class="info ">
We are guided by our senses in life, our sight being one of them. This is why design is extremely important for our products, being unique, natural and elegant as well. Then we have the tactile sense, enticed by a smooth, continuous, and round item, merging perfectly with your wrist
</p>
			</div>

							</div>
						</div>
					</div>
					<div class="section-image">
						<img src="wp-content/uploads/2017/02/CeasuriSlide3.png" alt="Atractive design">
					</div>
				</div>
				</div>
			</div>
		<div class="page-section" id="details">
			<div class="section-name"><span>DAGADAM - THINK BEYOND</span></div>
			<div class="section-slider">
				<div class="image">
					<img src="wp-content/uploads/2017/02/Bicileta.jpg" alt="dagadam">
				</div>
				<div class="slider-info">
					<p class="info-title">DESIGN & DETAILS</p>
					<p class="title">PERFECT CHOICE <br>ANYTIME, ANYWHERE</p>
					<p>High-quality artificial leather, black and blue, and 8 different colors of rubber bands are available. Choose any of them and make the watch a reflection of your lifestyle, whether it is sporty or elegant, or both.</p>

					<span class="line">Features</span>
				</div>
			</div>
			<div class="static-elements">
				<div class="left-center">DAGADAM - THINK BEYOND</div>
				<div class="right-top">
					<span>Fitness</span>
					<span>Personal Trainer</span>
				</div>
				<div class="center-bottom">
					<a href="#os">
						<svg xmlns="http://www.w3.org/2000/svg" width="11.541" height="29.239"
							 viewBox="0 0 11.541 29.239">
							<path  fill="#C2986B"
								  d="M5.77 28.084l-4.714-8.08h9.426l-4.713 8.08zm0 1.155c.115-.005.275-.063.336-.182l5.386-9.233c.148-.238-.06-.597-.337-.59h-5V.386C6.154.172 5.98 0 5.768 0c-.213 0-.385.172-.385.385v18.85H.383c-.276-.007-.48.35-.337.59l5.386 9.233c.09.114.183.18.337.18z"/>
						</svg>
					</a>
				</div>
				<div class="watch"><img src="wp-content/themes/dagadam/images/ceasuri-details.png" alt=""></div>
			</div>
		</div>

		<!--Start OS-->
		<div class="page-section" id="os" style="background-image: url('wp-content/uploads/2017/02/elemente-watchfaces.png');background-repeat: no-repeat;background-position: center right;background-size: contain">
				<div class="static-elements">
					<div class="left-top">Dagadam – Mobvoi</div>
					<div class="right-center">DAGADAM - THINK BEYOND</div>
					<div class="frame">
						<img class="watch-frame" src="wp-content/uploads/2017/02/backceasurimici.png" alt="">
						<span>powered by <br> mobvoi</span>
						<img class="poweredby" src="wp-content/themes/dagadam/images/logo-mobvoi.png" alt="Powered bt Mobvoi">	
					</div>
				</div>
				<div class="section-name"><svg xmlns="http://www.w3.org/2000/svg" width="100px" height="22px"  viewBox="0 0 557.8 124.6"><style>.st1{fill:#EF2929;}</style><path d="M231.6 124.3c-1-1.9-2-3.7-2.9-5.6-9-21.4-18-42.9-27.1-64.3-1.7-4-3.6-7.8-8.8-8.1-.7 0-1.4-1.3-2.1-2.1 1-.6 1.9-1.7 3-1.7 4.7-.3 9.4-.3 14-.3H227l.6 1.8c-1.5.8-2.8 2.1-4.4 2.5-5.8 1.5-7.1 2.9-5.1 8.3 6 15.9 12.3 31.8 18.5 47.6.4 0 .8 0 1.1-.1.8-1.8 1.7-3.6 2.4-5.5 3.9-10.1 8.1-20.2 11.6-30.5 1.1-3.3 1.2-7.3.5-10.8-.8-4-3.4-7.1-8.2-7.5-1-.1-1.9-1.2-2.8-1.9.9-.7 1.7-2 2.6-2.1 9.5-.3 19-.3 28.5-.3.9 0 1.9.7 4.2 1.7-2.6 1.4-4.2 2.3-5.8 3.1-3.3 1.6-4.8 3.6-3 7.5 6.1 14.1 12 28.4 18.2 43.3.9-1.5 1.4-2.4 1.8-3.3 5.5-13.4 11-26.7 16.4-40.1 2.6-6.3 1.8-7.6-5-9.4-1.1-.3-2-1-4.2-2.2 2.4-.9 3.5-1.6 4.7-1.6 6.2-.2 12.4-.2 18.6-.1 1 0 2.1.9 3.1 1.4-.7.9-1.2 2.3-2.2 2.6-6.4 2.3-9.1 7.4-11.4 13.3-7.8 20-15.8 39.9-23.8 59.9-.6 1.4-1.7 2.6-2.6 4-1-1.3-2.5-2.4-3.1-3.9-6.8-16.2-13.6-32.5-20.3-48.8-.4-.9-.9-1.8-1.6-3.4-7.8 19.3-15.4 38-22.9 56.6h-1.8zM484.3 122.3c-1.6.4-3.2 1.1-4.9 1.1-4.3.2-8.5.3-12.8.2-6.6-.1-8.8-2.2-9.8-8.7-.1-.9-.3-1.8-1.5-3.4-.8 1.1-1.4 2.3-2.3 3.3-7.2 7.4-16.1 9.8-26 8.4-8.1-1.1-14.1-7.2-15.8-15.4-1.6-7.9 2-16.9 9.6-21.2 5-2.9 10.6-4.6 15.9-6.8 4.7-1.9 9.6-3.5 14.1-5.8 7-3.6 8.6-13.9 3.7-21.8-4.3-6.9-14.2-9.6-20.1-4.8-2.4 1.9-3.5 5.6-4.8 8.7-.8 2-.6 4.4-1.3 6.4-1.1 3.3-3.5 5.4-7.2 4.9-3.4-.5-6.4-2.5-6.3-6 .1-3.4 1-7.1 2.7-9.9 1.4-2.4 4.3-4.4 6.9-5.7 11.5-5.3 23.5-5.3 35.4-1.3 6.9 2.4 10 8 10.2 15.1.2 9.4-.1 18.7 0 28.1.1 7 .2 14 1 21 .9 7.8 3 9.6 10.7 10.9.9.2 1.7.9 2.6 1.3v1.4zm-27.7-47c-7 4.1-13.8 7.8-20.1 12-3.5 2.3-6.7 5.4-9.1 8.8-4 5.5-3.1 11.7 1.6 17 3.8 4.2 10.4 5.4 15.9 2.7 6.8-3.3 11.1-8.8 11.6-16.4.5-7.8.1-15.8.1-24.1zM369.6 78.7c-7.7 0-15.4.1-23.1 0-2.6 0-3.5.8-3.7 3.5-.6 8.6.8 16.7 5.9 23.9 8.4 12 22.8 15 35.3 7.3 2.8-1.7 5.2-4.1 7.9-6 .8-.6 2.1-.4 3.2-.6-.1 1.1.3 2.6-.3 3.3-1.6 2.2-3.4 4.5-5.5 6-12.9 9.2-27 11.3-41.3 4.2-14.8-7.4-20.9-20.5-20.6-36.7.4-18.2 11.1-34 26.6-39.8 19.6-7.3 42.7 8 43.5 28.8.1 3.6-.8 5.4-4.8 5.3h-2c-.1.2-21.1.5-21.1.8zm-26.4-5.5c11.2 0 22.1.2 33-.1 3.2-.1 5.5-2.3 6.3-5.7 1.6-6.5-2.3-15.1-8.6-19.3-5.9-3.9-12.5-3.6-18.5.7-8.3 6-10.9 14.7-12.2 24.4zM490.8 43.3c1.1-.2 2.1-.7 3.2-.7 6.9-.1 13.8 0 20.6-.3 3.2-.1 4.1 1.3 4.1 4.1 0 4.7 0 9.5.8 14.5 1.2-1.7 2.4-3.4 3.7-5.1 4.5-6.1 9.8-11.2 17.5-13 10.1-2.4 18.2 4.4 17 14.2-.4 3.2-1.9 5.5-5.1 6.2-3.3.8-5.8-.4-7.7-3.3-6.2-9.6-11.8-10-19-1-4.2 5.1-6.9 10.8-6.9 17.7.1 11.8-.1 23.6 0 35.5 0 6 1.3 7.1 7.5 8.1.7.1 1.4.2 2 .4.4.1.7.4 2.1 1.3-2.4.9-3.7 1.8-5 1.8-10 .1-20.1.1-30.1 0-1.1 0-2.1-1.1-3.2-1.6 1-.6 1.9-1.4 2.9-1.6 8.1-1.5 8.4-1.5 8.5-10.1.2-17.5.1-34.9 0-52.4-.1-7.4-2.7-10.2-9.9-11.9-1-.2-1.9-.8-2.8-1.2-.2-.7-.2-1.1-.2-1.6zM111.5 83.9c.3-31.3 32.4-51.2 59.2-36.6 4 2.2 7.3 4.9 8.6 9.5 1.2 4.2-.5 8.4-3.9 9.8-3.1 1.3-6.3-.5-8.4-4.7-1-2-1.6-4.1-2.5-6.1-4.4-10.1-14.8-13.1-23.9-6.9-5.7 3.8-9.8 9.1-11.5 15.7-3.9 15.1-2.5 29.5 6.5 42.7 5.4 8 13 12.9 22.8 11 9.8-1.9 16.3-8.1 18.5-18.3.2-1.1 1.5-1.9 2.3-2.9.5 1.2 1.6 2.5 1.5 3.7-.4 9.8-11.8 21.1-22.7 22.7-20.4 3-40.5-10.5-45.3-30.6-.8-2.9-.8-6-1.2-9zM63.3 120.5c2.3-.6 4.5-1.5 6.8-1.8 4.3-.6 6.4-2.8 6.4-7.1.1-18.1.3-36.3.1-54.4-.1-6.8-2.4-8.8-9.3-9.6-1.9-.2-4.1-.3-3.5-2.8.3-1.1 2.4-2.3 3.8-2.4 6.2-.3 12.4 0 18.6-.1 3-.1 4 1 4 4.1-.2 20.6-.1 41.3-.1 61.9 0 9 1.1 10.1 9.8 11.4 1.4.2 2.6 1.5 3.8 2.3-1.4.5-2.8 1.3-4.2 1.3-10.7 0-21.4-.1-32.1-.3-1.3 0-2.7-.4-4-.6 0-.6-.1-1.3-.1-1.9z"/><path class="st1" d="M69.9 0h19.6v19.6L69.9 0z"/><path d="M55.5 110.7c-2.9 1.3-5.8 2.8-8.8 3.8-9.1 3.2-16.3-.9-18.1-10.3-.3-1.6-.7-3.3-.7-4.9-.2-15.7-.2-31.4-.3-47.1 0-2.3.8-3.2 3.2-3.2 5.9.1 11.8.1 17.7 0 1.5 0 3.5-.4 4.3-1.4 2.1-2.9.7-5.2-3.2-5.3-7.1-.1-14.2 0-21.8 0v-5.8c.1-5.9.2-11.8.1-17.8 0-.9-.8-1.9-1.5-2.8-2.7 15-12.8 27.2-26.4 32.8 1.1.4 2.1.7 3.2.8 3.5.2 7.1.1 11.1.1.1.7.3 1.2.3 1.7-.2 15.7-.6 31.4-.3 47.1.1 5.3 1.4 10.6 2.9 15.7 1.5 5 5.5 8.4 10.7 9.4 10.3 2.1 19.4-.6 26.7-8.4.9-.9 1.2-2.3 1.8-3.5-.4-.3-.6-.6-.9-.9z"/></svg></div>
				<div class="section-desc">									
					<p class="title">EXTENSIVE FUNCTIONS ARRAY</p>
				    <p>
Through the numerous available functions, this smartwatch will become your daily partner,
being reliable for every task you have to accomplish. 
</p>
				</div>
		<div class="watch-faces">
				<div class="watch-face">
				<div class="image">
					<img src="wp-content/uploads/2017/02/ceas-003.png" alt="Weather">
				</div>
				<div class="feature">
					<p class="feature-name">Weather</p>
				</div>
			</div>
<div class="watch-face">
				<div class="image">
					<img src="wp-content/uploads/2017/02/ceas-001.png" alt="CALL">
				</div>
				<div class="feature">
					<p class="feature-name">CALL</p>
				</div>
			</div>
<div class="watch-face">
				<div class="image">
					<img src="wp-content/uploads/2017/02/ceas-005.png" alt="RESTAURANTS">
				</div>
				<div class="feature">
					<p class="feature-name">RESTAURANTS</p>
				</div>
			</div>
<div class="watch-face">
				<div class="image">
					<img src="wp-content/uploads/2017/02/ceas-002.png" alt="TAXI">
				</div>
				<div class="feature">
					<p class="feature-name">TAXI</p>
				</div>
			</div>
<div class="watch-face">
				<div class="image">
					<img src="wp-content/uploads/2017/02/ceas-004.png" alt="REMINDERS">
				</div>
				<div class="feature">
					<p class="feature-name">REMINDERS</p>
				</div>
			</div>
		</div>	</div> <!--end OS-->

		<div class="page-section" id="os2">
			<div class="static-elements">
				<div class="left-bottom-vertical">Dagadam - Think Beyond</div>
				<div class="right-center">Dagadam - Think Beyond</div>

			</div>
			<div class="section-content">
				<div class="section-info">
					<p class="section-title">PERSONAL TRAINER</p>
					<div class="section-slider">
						<div class="slider">
							<div class="slide">
				<div class="content">
					<p class="title">ACCURATE TRACKING FEATURES THAT WILL ENHANCE YOUR SPORT ACTIVITIES</p>
					<p class="info">
The watch was designed to fit an active lifestyle as well.  With an incorporated GPS, heart rate monitor, pedometer, and accelerometer, you will have a clearer view of your performances and listen to your favorite songs, without having a phone on you. And, because of an aluminium 6082 case and dust and water resistant (IP67), you have a light and sturdy device.
</p>
				</div>
			 </div>						</div>
					</div>

				</div>
				<div class="section-image">
					<img src="wp-content/themes/dagadam/images/fata.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="page-section" id="technical" style="background-image: url('wp-content/uploads/2017/02/bg-tehnical.jpg');">
				<div class="static-elements">
					<div class="right-center">DAGADAM - THINK BEYOND</div>
				</div>
				<div class="content-wrapper">
				<div class="section-content">
					<div class="section-image visible-mobile">
						<img src="wp-content/uploads/2017/02/bg-tehnical2.jpg" alt="ABOUT THE PROJECT">
					</div>
					<div class="section-info">
						<p class="section-title">ABOUT THE PROJECT</p>
						<div class="section-slider">
							<div class="slider">
								
<div class="slide">
				<div class="content">
					<p class="title">THE FUTURE<br> HAPPENS NOW</p>
					<div class="info ">
						<p>The Dagadam watch represents the most balanced combination between top notch technology and wearable device with a stunning design, which can be used in a daily manner. </p>
					</div>
				</div>
			 </div>


							</div>
						</div>
					</div>
	
				</div>
				</div>
			</div>
		<div class="page-section" id="technical2" >
				<div class="static-elements">
					<div class="right-top">Dagadam - Think Beyond</div>
					<div class="left-center">DAGADAM - THINK BEYOND</div>
				</div>
				<div class="section-content">
				<div class="section-info">
					<div class="section-name"><span>SPECIFICATIONS</span></div>
					<div class="section-desc">
						<p class="title">PRODUCT SPECIFICATIONS</p>
						<p>Only the best materials are used for this watch, which are extremely durable and reliable, so you can enjoy the product on an indefinite term.</p>
					</div>
					<div class="tech-data-slider">
						

<div class="tech-slide">
				<ul>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/display.png" alt="">
				</div>
				<div class="info">
					<span class="name">DISPLAY</span>
					<span class="desc">
Spectrum Screen 44mm<br>
3D Curved Gorilla Glass<br>
400X400 Round Display<br>
16,7 mil Colors - 1.4” Full Circular
</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/memory.png" alt="">
				</div>
				<div class="info">
					<span class="name">MEMORY</span>
					<span class="desc">8GB Internal Memory<br>
RAM 512MB
</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/battery.png" alt="">
				</div>
				<div class="info">
					<span class="name">BATTERY</span>
					<span class="desc">
450mAh<br>
Wireless Charger<br>
Fast Charging System<br>
Up to 3 days
</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/dimensions.png" alt="">
				</div>
				<div class="info">
					<span class="name">Dimensions</span>
					<span class="desc">49.0mm x 49.0mm x 13.2mm</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/sensors.png" alt="">
				</div>
				<div class="info">
					<span class="name">Sensors</span>
					<span class="desc">Heart rate sensor, Accelerometer, Gyroscope, Ambient Light, 'Sense' Tactile</span>
				</div>
			 </li>


</ul>
			 </div>

<div class="tech-slide">
				<ul>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/other.png" alt="">
				</div>
				<div class="info">
					<span class="name">Other Stuff</span>
					<span class="desc">Speaker &amp; Microphone<br> Vibration Motor</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/materials.png" alt="">
				</div>
				<div class="info">
					<span class="name">Materials</span>
					<span class="desc">Aluminium 6082
(used in aircraft industry) </span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/chipset.png" alt="">
				</div>
				<div class="info">
					<span class="name">Chipset</span>
					<span class="desc">D1 Ensemble<br>
Arm - 1.2GHz</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/water.png" alt="">
				</div>
				<div class="info">
					<span class="name">Water resistant</span>
					<span class="desc">30 Meters / IP67</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/conectivity.png" alt="">
				</div>
				<div class="info">
					<span class="name">Conectivity</span>
					<span class="desc">WIFI 802.11 b/g/n<br> Bluetooth 4.1, GPS</span>
				</div>
			 </li>
<li>
				<div class="icon"><img src="wp-content/uploads/2017/02/compat.png" alt="">
				</div>
				<div class="info">
					<span class="name">Compatibility</span>
					<span class="desc">iOS, Android</span>
				</div>
			 </li>


</ul>
			 </div>


					</div>
				</div>
				<div class="section-image">
					<img src="wp-content/uploads/2017/02/ceas-tech2.png" alt="Only the best materials are used for this watch, which are extremely durable and reliable, so you can enjoy the product on an indefinite term.">
				</div>
				</div>
			</div>
		<div class="page-section" id="founders">
				<div class="static-elements">
					<div class="right-center">DAGADAM - THINK BEYOND</div>
					<div class="left-top">
						<a href="#subscribe">Subscribe Now - Get Your Watch</a>
					</div>
				</div>
				<div class="section-name"><span>FOUNDERS</span></div>
				<div class="section-desc">
					<p class="title">OUR VISION</p>
					<p>We believe that everything needs to be designed humanly enough to reach everybody's heart.
Dagadam watch does it for us!</p>
				</div>
	
				<div class="founders">
					
<div class="founder">
				<div class="inner-content">
					<img src="wp-content/uploads/2017/02/Dragos.jpg" alt="mandu dragos">
					<div class="name">mandu dragos</div>
					<div class="job-title">Chief Executive Officer</div>
					<a href="mailto:mandu.dragos@dagadam.com" class="email-address">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
							<path fill="#C2986B"
							      d="M8.448 10.75c-.58.023-.846.738-.418 1.132l3.21 3.017-3.22 3.22c-.265.25-.272.672-.015.93.258.26.678.26.933-.004l3.25-3.25 1.315 1.242c.834.784 2.14.783 2.975 0l1.325-1.253 3.26 3.26c.256.264.675.266.934.006.257-.26.25-.68-.015-.93l-3.22-3.22 3.21-3.018c.632-.598-.265-1.546-.897-.948l-5.483 5.157c-.26.247-.932.245-1.192 0l-5.472-5.156c-.13-.124-.302-.19-.48-.183zM6.522 9.458H23.48c.37 0 .65.28.65.652v9.782c0 .372-.28.652-.65.652H6.52c-.372 0-.652-.28-.652-.652V10.11c0-.373.28-.653.652-.653zm0-1.305c-1.073 0-1.957.883-1.957 1.957v9.782c0 1.073.883 1.957 1.957 1.957H23.48c1.072 0 1.956-.884 1.956-1.958V10.11c0-1.074-.883-1.958-1.957-1.958H6.52zM15 1.304c7.57 0 13.696 6.124 13.696 13.696S22.57 28.696 15 28.696 1.304 22.57 1.304 15 7.43 1.304 15 1.304zM15 0C6.724 0 0 6.724 0 15s6.724 15 15 15 15-6.724 15-15S23.276 0 15 0z"/>
						</svg>
					</a>
				</div>
			</div>
<div class="founder">
				<div class="inner-content">
					<img src="wp-content/uploads/2017/02/Bogdan.jpg" alt="DARAGIU BOGDAN">
					<div class="name">DARAGIU BOGDAN</div>
					<div class="job-title">Chief Operating Officer </div>
					<a href="mailto:daragiu@dagadam.com" class="email-address">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
							<path fill="#C2986B"
							      d="M8.448 10.75c-.58.023-.846.738-.418 1.132l3.21 3.017-3.22 3.22c-.265.25-.272.672-.015.93.258.26.678.26.933-.004l3.25-3.25 1.315 1.242c.834.784 2.14.783 2.975 0l1.325-1.253 3.26 3.26c.256.264.675.266.934.006.257-.26.25-.68-.015-.93l-3.22-3.22 3.21-3.018c.632-.598-.265-1.546-.897-.948l-5.483 5.157c-.26.247-.932.245-1.192 0l-5.472-5.156c-.13-.124-.302-.19-.48-.183zM6.522 9.458H23.48c.37 0 .65.28.65.652v9.782c0 .372-.28.652-.65.652H6.52c-.372 0-.652-.28-.652-.652V10.11c0-.373.28-.653.652-.653zm0-1.305c-1.073 0-1.957.883-1.957 1.957v9.782c0 1.073.883 1.957 1.957 1.957H23.48c1.072 0 1.956-.884 1.956-1.958V10.11c0-1.074-.883-1.958-1.957-1.958H6.52zM15 1.304c7.57 0 13.696 6.124 13.696 13.696S22.57 28.696 15 28.696 1.304 22.57 1.304 15 7.43 1.304 15 1.304zM15 0C6.724 0 0 6.724 0 15s6.724 15 15 15 15-6.724 15-15S23.276 0 15 0z"/>
						</svg>
					</a>
				</div>
			</div>

				</div>
			</div>
		<div class="page-section" id="subscribe">
			<div class="static-elements">
				<div class="left-center">DAGADAM - THINK BEYOND</div>
				<div class="right-top">Dagadam - Think Beyond</div>
			</div>
			<div class="section-name"><span>CHOOSE YOURS</span></div>

			<div class="subscribe-section">
				<div class="section-image">
					<div class="main-image-container">
						<a class="image-popup" href="wp-content/themes/dagadam/images/Subscribe1.png">
							<img src="wp-content/themes/dagadam/images/Subscribe1.png" alt="">

						</a>
					</div>
					<div class="gallery">
						<div class="col-gallery">
							<div class="image-container">
								<a class="image-popup" href="wp-content/themes/dagadam/images/Subscribe2.png"><img src="wp-content/themes/dagadam/images/Subscribe2.png" alt=""></a>
							</div>
						</div>
						<div class="col-gallery">
							<div class="image-container">
								<a class="image-popup" href="wp-content/themes/dagadam/images/Subscribe3.png"><img src="wp-content/themes/dagadam/images/Subscribe3.png" alt=""></a>
							</div>
						</div>
						<div class="col-gallery">
							<div class="image-container">
								<a class="image-popup" href="wp-content/themes/dagadam/images/Subscribe4.png"><img src="wp-content/themes/dagadam/images/Subscribe4.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="section-info">
					<div class="section-desc">
						<p class="title">SUBSCRIBE NOW</p>
						<p>A subscription will provide the latest infor about Dagadam watch and the opportunity to save up to $90</p>
					</div>
					<div class="subscribe-form">
						<form action="#" id="watch-form">
							<div class="form-section band-silicon">
								<div class="label">
									<span>Silicone</span>
								</div>
								<div class="options">
									<label>
										<input type="radio" name="band-silicon" value="white">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#F1F1F1" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="black">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#272727" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="green">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#2C5047" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="yellow">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#F7CA4F" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="burgundy">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#9F2C3B" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="grey">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#A3A1A0" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="pink">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#DFC6C5" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-silicon" value="blue">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#3C3E60" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
								</div>
							</div>
							<div class="form-section band-leather">
								<div class="label">
									<span>leather</span>
								</div>
								<div class="options">
									<label>
										<input type="radio" name="band-leather" value="black">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#303030" cx="12.584" cy="12.584" r="12.584"/></svg>
									</label>
									<label>
										<input type="radio" name="band-leather" value="grey">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#6B6B6B" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
									<label>
										<input type="radio" name="band-leather" value="blue">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#36364F" cx="12.584" cy="12.584" r="12.584"/></svg>									</label>
								</div>
							</div>
							<div class="form-section watch-color">
								<div class="label">
									<span>Case</span>
								</div>
								<div class="options">
									<label>
										<input type="radio" name="watch-color" value="silver">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#DBDBDB" cx="12.584" cy="12.584" r="12.584"/></svg>
									</label>
									<label>
										<input type="radio" name="watch-color" value="black">
										<svg xmlns="http://www.w3.org/2000/svg" width="25.168" height="25.168" viewBox="0 0 25.168 25.168"><circle fill="#2F2E2E" cx="12.584" cy="12.584" r="12.584"/></svg>
									</label>


								</div>
							</div>
							<button type="submit"  form="watch-form" value="Submit" class="subscribe-popup">subscribe »</button>
						</form>
						<div class="signature">
						</div>
					</div>
				</div>
			</div>

			<div class="modal-subscribe">
				<div class="subscribe-form-container">
					<div class="subscribe-form-modal">
						<div class="close-subscribe-modal"></div>
						<div class="info">
							<p class="form-intro">choose yours</p>
							<p class="form-title">subscribe now </p>
							<p>A subscription will provide the latest infor about Dagadam watch
								and the opportunity to save up to $90</p>
							<p class='subscribe-watch'></p>
						</div>
						<div class="form">
							<div id="mc_embed_signup">
								<form action="http://dagadam.us13.list-manage.com/subscribe/post?u=2243b098b7719413c54ad8c86&amp;id=208886b722" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<input type="email" value=""  placeholder="EMAIL" name="EMAIL" class="required email" id="mce-EMAIL">
									<input type="text" value="" placeholder="NAME" name="FNAME" class="" id="mce-FNAME">
									<input type="text" value="" placeholder="COUNTRY" name="FCOUNTRY" class="" id="mce-FCOUNTRY">
									<input type="text" value="" name="SWATCH" class="hidden" id="mce-SWATCH">
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
									<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2243b098b7719413c54ad8c86_208886b722" tabindex="-1" value=""></div>
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-popup">

								</form>
							</div>
						<script type='text/javascript' src='../s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='FCOUNTRY';ftypes[2]='text';fnames[3]='SWATCH';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						<button class="close-modal">no, thanks!</button>

					</div>
					</div>
				</div>
			</div>


		</div>
</div>

<script type='text/javascript' src='wp-content/themes/dagadam/js/script.min66f2.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.min66f2.js?ver=4.7.5'></script>



<footer>
    <div class="logo-footer">
        <a href="index.html">
            <svg width="241.527" height="42.657" viewBox="0 0 241.527 42.657">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
    </div>
    <div class="footer-social-links">
        <a href="https://www.facebook.com/dagadamtech/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25.477" height="22.436" viewBox="0 0 25.477 22.436"><path  d="M10.154 20.964h3.877V11.27h2.878l.354-3.876h-3.08V5.842c0-.755.502-.93.856-.93h2.175V1.588l-2.995-.013c-3.325 0-4.08 2.478-4.08 4.063v1.752H8.215v3.877h1.94v9.694z"/></svg></a>
        <a href="https://www.instagram.com/dagadamtech/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25.477" height="22.436" viewBox="0 0 25.477 22.436"><path  d="M18.684 1.577H6.79c-2.065 0-3.745 1.68-3.745 3.746v11.895c0 2.066 1.68 3.746 3.746 3.746h11.894c2.066 0 3.747-1.68 3.747-3.746V5.324c.002-2.066-1.68-3.746-3.746-3.746zm1.076 2.235l.428-.003v3.285l-3.274.01-.01-3.284 2.856-.008zm-9.788 5.47c.62-.86 1.628-1.423 2.767-1.423 1.137 0 2.145.562 2.766 1.42.404.56.646 1.248.646 1.99 0 1.88-1.532 3.412-3.413 3.412-1.883 0-3.414-1.53-3.414-3.412 0-.742.242-1.428.646-1.99zm10.572 7.935c0 1.025-.834 1.858-1.86 1.858H6.793c-1.025 0-1.858-.833-1.858-1.858V9.28h2.894c-.25.616-.39 1.287-.39 1.99 0 2.923 2.378 5.3 5.3 5.3 2.924 0 5.302-2.377 5.302-5.3 0-.703-.14-1.375-.39-1.99h2.894v7.937z"/></svg></a>
        <a href="https://twitter.com/dagadamtech" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25.477" height="22.436" viewBox="0 0 449.956 449.956"><path d="M449.956 85.657c-17.702 7.614-35.408 12.37-53.102 14.28 19.985-11.992 33.503-28.932 40.546-50.82-18.28 10.847-37.787 18.268-58.532 22.267-18.274-19.414-40.73-29.125-67.383-29.125-25.502 0-47.246 8.99-65.24 26.98-17.984 17.986-26.977 39.73-26.977 65.234 0 6.85.76 13.896 2.284 21.128-37.688-1.903-73.042-11.372-106.068-28.407C82.46 110.158 54.434 87.46 31.404 59.1c-8.376 14.273-12.565 29.788-12.565 46.537 0 15.798 3.71 30.456 11.137 43.97 7.422 13.512 17.417 24.455 29.98 32.83-14.85-.57-28.743-4.474-41.684-11.707v1.142c0 22.27 6.995 41.824 20.983 58.674C53.246 247.394 70.9 258 92.216 262.38c-7.994 2.09-16.085 3.137-24.268 3.137-5.33 0-11.136-.475-17.416-1.42 5.9 18.46 16.75 33.633 32.546 45.535 15.8 11.896 33.69 18.028 53.677 18.418-33.498 26.262-71.66 39.393-114.486 39.393-8.187 0-15.608-.373-22.27-1.14C42.825 393.9 90.03 407.7 141.61 407.7c32.74 0 63.48-5.18 92.21-15.557 28.747-10.368 53.298-24.266 73.666-41.685 20.362-17.415 37.925-37.448 52.674-60.097 14.75-22.65 25.738-46.298 32.977-70.946 7.23-24.653 10.848-49.344 10.848-74.092 0-5.33-.096-9.325-.287-11.99 18.087-13.128 33.504-29.024 46.258-47.673z"/></svg></a>
        <a href="https://vimeo.com/user62205615" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25.477" height="22.436" viewBox="0 0 20.847 20.847"><path d="M17.81 2.018c2.018.053 3.027 1.198 3.037 3.438 0 .147-.005.3-.013.457-.09 1.9-1.502 4.486-4.245 7.76-2.83 3.43-5.23 5.147-7.2 5.156-1.227 0-2.245-1.05-3.062-3.152l-.858-2.88-.848-2.876C3.997 7.838 3.33 6.798 2.616 6.798c-.156 0-.697.304-1.626.91L0 6.538 1.536 5.26 3.046 4C4.4 2.914 5.43 2.328 6.137 2.24c.093-.01.187-.012.283-.012 1.448 0 2.353 1.04 2.708 3.124.198 1.188.362 2.154.495 2.896.13.744.237 1.262.323 1.557.48 1.97.995 2.96 1.55 2.968.426 0 1.082-.642 1.968-1.926.866-1.32 1.332-2.296 1.392-2.932.02-.13.026-.25.026-.362 0-.86-.474-1.29-1.418-1.29-.48 0-.99.102-1.537.3.98-3.022 2.864-4.535 5.65-4.545h.234z"/></svg></a>
        <a href="https://www.youtube.com/channel/UCqWYt6yDpSql5qq1E2cuTFA" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25.477" height="22.436" viewBox="0 0 20.091 17.545"><path  d="M18.732 4.844c-.345-1.33-.837-1.84-2.027-2.024-.686-.098-3.9-.223-6.512-.223-2.614 0-5.865.125-6.552.223-1.19.184-1.905.695-2.25 2.024-.115.446-.345 2.892-.345 3.827v.206c0 .933.248 3.38.364 3.827.344 1.328 1.035 1.84 2.225 2.025.685.096 4 .222 6.612.222 2.614 0 5.915-.125 6.6-.222 1.19-.185 1.534-.697 1.877-2.025.117-.448.32-2.894.32-3.827V8.67c0-.934-.197-3.38-.312-3.826zm-10.9 7.084V5.562l6.18 3.107-6.18 3.258z"/></svg></a>

    </div>
    <div class="menu-footer-container"><ul id="menu-footer" class="footer-menu"><li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-176"><a href="index.html#about">About Dagadam</a></li>
<li id="menu-item-177" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-177"><a href="index.html#design">Design</a></li>
<li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-178"><a href="index.html#os">Ticwear OS</a></li>
<li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-179"><a href="index.html#technical2">Specifications</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-180"><a href="index.html#founders">Founders</a></li>
<li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-181"><a href="index.html#subscribe">Subscribe</a></li>
</ul></div>    <div class="copyright">© 2017 DAGADAM. All Rights Reserved. <span class="quart"> Proudly Crafted by <a href="https://quart.ro/" target="_blank">Quart Creative Agency</a></span></div>
</footer>
<div class="popup">
    <div class="popup-container">
        <div class="pop">
            <a href="https://www.indiegogo.com/projects/dagadam-watch-think-beyond-technology#" target="_blank"><img src="wp-content/themes/dagadam/images/indiegogo.png" alt="Dagadam Kickstarter"></a>
            <div class="close-popup">No, Thank You!</div>
        </div>
    </div>
</div>

</body>

<!-- Mirrored from dagadam.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Jun 2017 03:21:12 GMT -->
</html>